*{
    padding: 5px;
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background: #E6EFF2;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows:repeat(3, auto) ;
    grid-template-areas: "header header header"
    "contenido contenido aside"
    "footer footer footer";
}
.contenedor > div,
.contenedor .header,
.contenedor .aside,
.contenedor .footer,
.contenedor .contenido{
    background: #D7DDE0;
    padding: 15px;
    border: solid  2px #C4CBCE;  
    
}
.contenedor .header{
    grid-area: header;
    padding: 0 10px;
    background:#4D5355;
    
   

}
.contenedor .contenido{
    grid-area: contenido;
  

}
.contenedor .aside{
    grid-area: aside;
 
}
ul li{
    list-style: none;
    display: inline;
    float:right;
    padding:10px;
    margin-bottom: 10px;
    
}
ul li a{
    text-decoration:  none;
    color: #fff;
    
}
ul li a:hover{
    background:  #E6EFF2;
    color: #4D5355;
    margin-top: 20px;


}

.contenedor .footer{
    grid-area: footer;
    display: flex;
    text-align: center;
    justify-content: center;
    background:#4D5355;
    padding: 10px;

}
.entrada{
padding: 10px; 
border: inset  2px #fff; 

}
.logo{

   padding: 0;
   position: absolute;
}
.inst a,
.face a{
    color: #E6EFF2;
}

.submit{
    padding: 8px;
    border: inset  2px #5A6063;  
    color: white;
    background: #6A6F71;
    margin-left: 55px;
}
input{
    outline: none;
    border: 0;



  

}
@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas: "header header header"
        
        "contenido contenido contenido"
        "aside aside aside"
        " footer footer footer";
    }
    
}
